:root{
    --background-color: #1A1A1B;
    --font-color:rgb(215, 218, 220);
    --sidebar-font:#ffffff;
}
html,body{
    background-color: var(--background-color);
    color:var(--font-color);
    height:100%;
}
input,label{
    display:block;
}
main{
    display:flex;
    flex-flow:row;
}
@font-face {
    font-family: norse-bold;
    src: url(./norse-bold.otf);
}
/* Side Bar */
.sidebar{
    width:40vw;
    height:100%;
    min-height:100vh;
    /*Jonathan Forage
@jonathanforage https://unsplash.com/photos/1azAjl8FTnU*/
    background-image: url("../images/campfire-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.sidebar-strip{
    display:flex;
    flex-flow:row wrap;
    position:relative;
    background-color: #1A1A1B99;
    top:30vh;
    padding:0 10rem;
    font-size: 2em;
    justify-content: center;
    justify-content: space-evenly;
    font-family: norse-bold,sans-serif;
    color: var(--sidebar-font);
}
.sidebar-strip>img{
    align-self: center;
    max-width: 11vh;
    max-height:11vh;
}

/* Content Right Side */
.content{
    display:flex;
    flex-flow:column wrap;
    padding: 5rem 2rem;
    width:60vw;
}

.content-form>form>section{
    display:flex;
    flex-flow:row wrap;
    justify-content: space-evenly;
}