:root{
    --background-color: #1A1A1B;
    --font-color:rgb(215, 218, 220);
}
html,body{
    background-color: var(--background-color);
    color:var(--font-color);
    height:100%;
}
input,label{
    display:block;
}
main{
    display:flex;
    flex-flow:row;
}
/* Side Bar */
.sidebar{
    width:40vw;
    height:100%;
    min-height:100vh;
    /*Jonathan Forage
@jonathanforage https://unsplash.com/photos/1azAjl8FTnU*/
    background-image: url("../images/campfire-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.sidebar-strip{
    background-image: url("../images/odin-lined.png");
    position:relative;
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100%;
    min-height: 100%;
    min-width: 100%;
}

/* Content Right Side */
.content{
    display:flex;
    flex-flow:column wrap;
    padding: 5rem 2rem;
    width:60vw;
}

.content-form>form>section{
    display:flex;
    flex-flow:row wrap;
    justify-content: space-evenly;
}